@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #ECF39E;
    --secondary-color: #132A13;
    --input-border: #31572C;
    --unselected-letter: #90A955;
    --wrong :#555050;
    --right: #76c121;
    --wrong-place: #c3b115;
    --button-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001F;

    --primary-font: "Poppins", sans-serif;

    --happy-jump: 10px;
}

* {
    font-family: var(--primary-font);
}

body {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.game-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 15vh;
}
    
.words-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 25%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.right {
    background-color: var(--right);
    border: none;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
}

.wrong-place {
    background-color: var(--wrong-place);
    border: none;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    font-weight: 900;   
}

.wrong {
    background-color: var(--wrong);
    border: none;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    color: var(--primary-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    font-weight: 900;  
}

.unselected {
    background-color: var(--unselected-letter);
    border: none;
    border-radius: 12px;
    width: 60px;
    height: 60px;
}

.letter-input {
    background-color: var(--primary-color);
    border: 3px solid var(--input-border);
    border-radius: 12px;
    width: 60px;
    height: 60px;
    color: var(--secondary-color);
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    box-shadow: 0px 24px 15.2px 5px rgba(19, 42, 19, 0.25) inset;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all .1s ease-in-out;    
}

.letter-input:hover {
    outline: none;
    transform: scale(1.05);
}

.letter-input:focus {
    outline: none;
    transform: scale(1.20);
    caret-color: transparent;
}

.no-words {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5vw;
    margin-bottom: 15vh;
    font-size: 20px;
    font-weight: bold;
}

.invalid-word, .correct-word {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 12vw;
    margin-bottom: 40vh;
    font-size: 20px;
    font-weight: bold;
    animation: fade-in 2s forwards;
}

.invalid-word {
    animation: fade-in 2s forwards, grow 2s infinite;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes grow {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

.flip-input {
    animation: 0.45s linear flip 0s forwards;
}
  
@keyframes flip {
    0% {
        transform: perspective(200px) rotateY(0deg);
    }

    49.99999% {
        transform: perspective(200px) rotateY(90deg);
    }

    50% {
        transform: perspective(200px) rotateY(-90deg);
    }

    100% {
        transform: perspective(200px) rotateY(0deg);
    }
}

.jump {
    animation: 0.45s linear happy 0s forwards;
}
  
@keyframes happy {
    10%  { transform: translateY(calc(var(--happy-jump)*-0.3)); }
    20%  { transform: translateY(calc(var(--happy-jump)*-0.58)); }
    30%  { transform: translateY(calc(var(--happy-jump)*-0.8)); }
    40%  { transform: translateY(calc(var(--happy-jump)*-0.95)); }
    50%  { transform: translateY(calc(var(--happy-jump)*-1)); }
    60%  { transform: translateY(calc(var(--happy-jump)*-0.95)); }
    70%  { transform: translateY(calc(var(--happy-jump)*-0.8)); }
    80%  { transform: translateY(calc(var(--happy-jump)*-0.58)); }
    90%  { transform: translateY(calc(var(--happy-jump)*-0.3)); }
    100% { transform: translateY(0px); }
  }

.shake {
    animation: 0.75s linear shake 0s forwards;
}

@keyframes shake {
    10%  { transform: translateX(-14px); }
    20%  { transform: translateX(14px); }
    30%  { transform: translateX(-8px); }
    40%  { transform: translateX(8px); }
    50%  { transform: translateX(-4px); }
    60%  { transform: translateX(4px); }
    70%  { transform: translateX(-2px); }
    80%  { transform: translateX(2px); }
    90%  { transform: translateX(-1px); }
    100% { transform: translateX(1px); }
}