@import './base.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: -5rem;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--input-border);
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.input {
    height: 3rem;
    width: 100%;    
    border: 2px solid var(--input-border);
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
}

.input:focus {
    outline: none;
    border: 2px solid green;
}

.action-button {
    height: 2.5rem;
    width: 100%;
    color: #fff;
    background-color: var(--input-border);
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.action-button:hover {
    background-color: green;
    transition: background-color 0.2s;
}

::selection{
    background: rgba(26,188,156,0.3);
}

.hidden { 
    display: none;
}

.change-form {
    margin-top: 1rem;
    text-decoration: underline;
    cursor: pointer;
}
