@import './base.css';

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    z-index: 1001;
}

.title {
    font-weight: 900;
    font-size: 46px;
    margin-left: 12rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-block-start: 0;
    margin-block-end: 0;
}

.title:hover {
    transform: scale(1.05);
}

.icons-container {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 8rem;
    gap: 4rem;

    img {
        width: 36px;
        cursor: pointer;
        transition: all .2s ease-in-out; 
    }

    img:hover {
        transform: scale(1.15);
    }
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 80px;
    color: var(--secondary-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(20px);
}

.title-tooltip.tooltip {
    top: 80%;
    left: 77%
}