@import './base.css';

.ranking-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 81vh;
    margin-top: 4.5vh;
}
    
.ranking-container {
    width: 33%;
    text-align: center;
    border: 3px solid var(--input-border);
    border-radius: 6px;
}

.ranking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(auto-fill, 1fr);
    width: 100%;
    height: auto;
}

.table-title {
    align-self: flex-start;
    font-size: 18px;
    font-weight: 800;
    color: var(--secondary-color);  
}

.table-info {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);  
    margin-block-start: 12px;
    margin-block-end: 12px;
}
