@import './base.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f8f8f8;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    max-width: 500px;
    position: relative;
    animation: zoomIn 0.3s ease forwards;
}

.modal-content.closing {
    animation: zoomOut 0.3s ease forwards;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

p {
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-self: center;
    color: var(--secondary-color);
}

.show-coins {
    display: flex;  
    align-items: center;
    gap: 0.5rem;
}

img {
    width: 30px;
}

button {
    height: 3rem;
    width: 50%;
    margin-top: 0.5rem;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--button-shadow);   
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.buy[disabled], .buy[disabled]:hover {
    cursor: auto;
    background-color: #90a95586;
    transition: none;
    border: 1px solid var(--unselected-letter);
    box-shadow: none;
}

button.new-word {
    display: none;
    width: 17vw;
    height: 8vh;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5vw;
    margin-bottom: 15vh;
}

button:hover {  
    background-color: var(--input-border);
    transition: background-color 0.2s;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 1.5rem;
    gap: 0.5rem;
    color: var(--secondary-color);
}

.rules p {
    font-size: 20px;
}

.rules ol {
    padding-left: 1.5rem;
}

.rules li {
    font-weight: 600;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}