{% load static %}

<html>
<link rel="stylesheet" href="{% static 'termoapp/css/base.css' %}">
{% include './navbar.html' %}
    <section class="game-section">
        <div class="words-container">   
            {% for attempt in attempts %}
                {% for letter in attempt %}
                    {% if letter.1 == 1 %}
                        <input type="text" value="{{ letter.0 }}" maxlength="1" disabled="true" class="right" id="attempt{{ forloop.parentloop.counter }}">
                    {% elif letter.1 == 2 %}
                        <input type="text" value="{{ letter.0 }}" maxlength="1" disabled="true" class="wrong-place" id="attempt{{ forloopforloop.parentloop.counter }}">
                    {% else %}
                        <input type="text" value="{{ letter.0 }}" maxlength="1" disabled="true" class="wrong" id="attempt{{ forloop.parentloop.counter }}">
                    {% endif %}   
                {% endfor %}
            {% endfor %}
            {% for notAttempt in notAttempts %}
                {% if forloop.first and notAttempt and has_game %}
                    <form action="{% url 'termoapp:send' %}" method="POST" style="display: contents">
                        {% csrf_token %}
                        <input type="hidden" name="type" value="{{ type }}">
                        <input name="letter1" type="text" maxlength="1" class="letter-input" autocomplete="off">
                        <input name="letter2" type="text" maxlength="1" class="letter-input" autocomplete="off">
                        <input name="letter3" type="text" maxlength="1" class="letter-input" autocomplete="off">
                        <input name="letter4" type="text" maxlength="1" class="letter-input" autocomplete="off">
                        <input name="letter5" type="text" maxlength="1" class="letter-input" autocomplete="off">
                    </form>
                {% else %}
                    <input type="text" maxlength="1" class="unselected" disabled="true">
                    <input type="text" maxlength="1" class="unselected" disabled="true">
                    <input type="text" maxlength="1" class="unselected" disabled="true">
                    <input type="text" maxlength="1" class="unselected" disabled="true">
                    <input type="text" maxlength="1" class="unselected" disabled="true">
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% if not has_daily_word and type == "termo" %}
        <p class="no-words">Não há mais palavras disponíveis!</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <p class="invalid-word">Palavra inválida!</p>
        {% endfor %}
    {% endif %}

    {% if correct_word %}
        <p class="correct-word">A palavra correta era: {{ correct_word | upper }}</p>
    {% endif %}
    
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const letterInputs = document.querySelectorAll('.letter-input');
            const storedWord = localStorage.getItem('currentWord') || '';
            const invalidWord = document.querySelector('.invalid-word');

            //preencher palavra inválida
            if (invalidWord) {
                storedWord.split('').forEach((char, index) => {
                    letterInputs[index].value = char;
                });
                letterInputs[4].focus();
            } else {
                letterInputs[0].focus();
            }
        
            letterInputs.forEach((input, index) => {
                
                // animação palavra inválida
                if (invalidWord) {
                    input.classList.add('shake');
                    setTimeout(() => {
                        input.classList.remove('shake');
                    }, 500);
                }

                const nextInput = letterInputs[index + 1];
                const prevInput = letterInputs[index - 1];

                // digitar letras
                input.addEventListener('input', (event) => {
                    const isLetter = event.data && event.data.match(/^[a-zA-Z]+$/);
                        if (!isLetter) {
                            input.value = '';
                        } 
                        else if (input.value) {
                            const nextInput = letterInputs[index + 1];

                            if (nextInput) {
                                nextInput.focus();
                            }
                        }

                        // armazenar no localstorage
                        const currentWord = Array.from(letterInputs).map(input => input.value).join('');
                        localStorage.setItem('currentWord', currentWord);
                });
        
                input.addEventListener('keydown', (event) => {
                    // envio e animação
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        const allInputsFilled = Array.from(letterInputs).every(input => input.value);
            
                        if (allInputsFilled) {
                        
                            const form = letterInputs[0].closest('form');

                            const animationPromises = Array.from(letterInputs).map((input, index) => {
                                return new Promise(resolve => {
                                    setTimeout(() => {
                                        input.classList.add('flip-input');
                                        setTimeout(() => {
                                            resolve();
                                        }, 400);
                                    }, index * 300);
                                });
                            });

                            Promise.all(animationPromises).then(() => {
                                form.submit();
                            });
                        }

                    }

                    // apagar
                    else if (event.keyCode === 8) {
                        if (input.value) {
                            input.value = '';
                        } else if (prevInput) {
                            prevInput.focus();
                        }
                    }

                    // mover com setas
                    else if (event.keyCode === 39) {
                        if (nextInput) {
                            nextInput.focus();
                        }
                    } 
                
                    else if (event.keyCode === 37) {
                        if (prevInput) {
                            prevInput.focus();
                        }
                    }
                });
            });
        });
        

        // animação acerto
        const attempts = "{{ attempts | safe }}";
        const attemptsArray = eval(attempts);

        let c = 0;
        attemptsArray[attemptsArray.length - 1].forEach((tuple) => {
            if (tuple === 1) {
                c++;
            }
        });

        const lastAttemptInputs = document.querySelectorAll(`#attempt${attemptsArray.length}`)

        if (c === 5) {
            lastAttemptInputs.forEach((input, index) => {
                setTimeout(() => {
                    input.classList.add('jump');
                }, index * 100);    
            }); 
        }

    </script>
</html>
