{% load static %}

<html>
<link rel="stylesheet" href="{% static 'termoapp/css/login.css' %}">

  <div class="container">
    <h1 class="login-title">LOGIN</h1>
    <form method="POST" class="login-form">
      {% csrf_token %}
      <input type="hidden" name="login" value="1">
      <input type="text" placeholder="Nome de usuário" class="input" name="username" required>
      <input type="password" placeholder="Senha" class="input" name="password" required>
      <button type="submit" class="action-button login">Entrar</button>
      {% if login_error and login_error == 'Invalid credentials' %}
        <p style="color: red;">Credenciais Inválidas</p>
      {% endif %}
    </form>
    <h1 class="register-title hidden">CADASTRAR</h1>
    <form method="POST" class="register-form hidden">
      {% csrf_token %}
      <input type="hidden" name="register" value="1">
      <input type="text" name="username" placeholder="Nome de usuário" class="input" required>
      <input type="password" name="password1" placeholder="Senha" class="input" required>
      <input type="password" name="password2" placeholder="Confirmar senha" class="input" required>
      <button class="action-button register">Cadastrar</button>
      {% if register_error and register_error == 'Passwords do not match' %}
        <p style="color: red;">Senhas não coincidem</p>
      {% endif %}
      {% if register_error and register_error == 'Username already exists' %}
        <p style="color: red;">Nome de Usuário já existe</p>
      {% endif %}

    </form>
    <span class="change-form">Fazer Cadastro</span>
  </div>

  <script>
    document.querySelector('.change-form').addEventListener('click', () => {
      const loginForm = document.querySelector('.login-form');
      const registerForm = document.querySelector('.register-form');
      const loginTitle = document.querySelector('.login-title');
      const registerTitle = document.querySelector('.register-title');
      const changeFormText = document.querySelector('.change-form');

      loginForm.classList.toggle('hidden');
      registerForm.classList.toggle('hidden');
      loginTitle.classList.toggle('hidden');
      registerTitle.classList.toggle('hidden');

      if (loginForm.classList.contains('hidden')) {
        changeFormText.textContent = 'Fazer login';
      } else {
        changeFormText.textContent = 'Fazer cadastro';
      }
    });
  </script>

</html>
