{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'termoapp/css/navbar.css' %}">
    
    <header class="navbar">
    <a href="{% url 'termoapp:termo' %}" style="text-decoration: none; color: inherit;" class="tooltip-container">
        <h1 class="title">Termo</h1>
        <span class="tooltip title-tooltip">Palavra diária</span>
    </a>
        <div class="icons-container">
            <a href="{% url 'termoapp:ranking' %}" class="tooltip-container">
                <img src="../../static/termoapp/assets/icon-ranking.svg" alt="ranking icon">
                <span class="tooltip">Ranking</span>
            </a>
            <a href="{% url 'termoapp:extra' %}" class="tooltip-container">
                <img src="../../static/termoapp/assets/icon-buy.svg" alt="shop icon" style="width: 40px;">
                <span class="tooltip">Comprar palavra</span>
            </a>
            <form id="logout-form" action="{% url 'termoapp:logout' %}?next=/" method="POST" style="display: contents;">
                {% csrf_token %}
                <a href="#" class="tooltip-container" onclick="document.getElementById('logout-form').submit(); return false;">
                    <img src="../../static/termoapp/assets/icon-logout.svg" alt="logout icon">
                    <span class="tooltip" style="left: 32%;">Logout</span>
                </a>
            </form>
        </div>
    </header>
    
</html>