{% load static %}

<html>
<link rel="stylesheet" href="{% static 'termoapp/css/ranking.css' %}">
{% include './navbar.html' %}

    <section class="ranking-section">
        <div class="ranking-container">
            <div class="ranking">
                <p class="table-title">Posição</p>
                <p class="table-title">Nome de usuário</p>
                <p class="table-title">Pontuação</p>
                {% for ranking in rankings %}
                    <p class="table-info">{{ ranking.ranking }}</p>
                    <p class="table-info">{{ ranking.user.username }}</p>
                    <p class="table-info">{{ ranking.score }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</html>