{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'termoapp/css/shop.css' %}">

    <div class="modal">
        <div class="modal-content">
            <div class="container">
                <p>Troque seus acertos por novas palavras!</p>
                <div class="show-coins">
                    <p>Moedas acumuladas: {{ coins }}</p>
                    <img src="../../static/termoapp/assets/icon-buy-green.svg" alt="">
                </div>
                <form action="{% url 'termoapp:buy' %}" method="POST" style="display: contents;">
                    {% csrf_token %}
                    <button type="submit" id="buy" class="buy">Comprar</button>
                </form>
            </div>
            <div class="rules">
                <p>ATENÇÃO!</p>
                <p>Você só poderá comprar uma nova palavra caso:</p>
                <ol>
                    <li>Tenha terminado a anterior</li>
                    <li>Tenha ao menos seis moedas</li>
                </ol>
            </div>
        </div>
    </div>

    {% include './base.html' %}

    {% if has_extra_words %}
        <button class="new-word">Comprar nova palavra</button>
    {% elif finished %}
        <p class="no-words">Não há mais palavras disponíveis!</p>
    {% endif %}

    <script>
        const modalContent = document.querySelector('.modal-content');
        const displayStyle = window.getComputedStyle(modalContent).getPropertyValue('display');

        if (displayStyle === 'flex') {
            const buttonBuy = document.getElementById('buy');
            const can_buy = "{{ can_buy | safe }}"
            const has_extra_words = "{{ can_buy | safe }}"

            if (can_buy === 'False') {
                buttonBuy.setAttribute('disabled', 'true');
            }

            buttonBuy.addEventListener('click', () => {
                modalContent.classList.add('closing');
            });
        }

        const has_game = "{{ has_game | safe }}";
        const modal = document.querySelector('.modal');
        if (has_game === "True") {
            modal.style.display = 'none';
        }

        const finished = "{{ finished | safe }}";
        const button = document.querySelector('.new-word');
        if (finished === "True") {
            button.style.display = 'block'
        }

        button.addEventListener('click', () => {
            modal.style.display = 'flex';
        });

    </script>
</html> 